@font-face {
  font-family: serif_pro;
  src: url(../fuentes/SourceSerifPro-Black.ttf);
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif_pro;
  }
  
  header {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  body {
    background-color: white;
  }

  div{

    text-align: center;
  }





  /*
  #alta_candidato{

    text-decoration: none;
    list-style: none;
    color: black;
    border: 1px solid black;
    padding: 8px;





  }
*/








  
